@media (min-width: 992px){
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        margin-bottom: 20px;
    }
}

.imagen-nosotros{
    text-align: center;
    margin-top: 20px;
}

.nosotros {
    .parrafo-nosotros {
        line-height: 2;

        h3{
            padding: 10px 0;
        }

        a{
            color: $amarillo;
            font-weight: bold;
            text-decoration: underline;
        }
    }    
}
