.informacion {
    background-color: $negro;
    color: $blanco;
    padding: 20px 0;
    text-align: center;
    
    h2{
        font-size: 40px;
        padding: 0;
        margin-bottom: 20px;
    }

    p{
        font-size: 18px;
    }
}

.recetas {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-align: center;

    .recetas-destacadas{
        &:hover{
            h3{
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .imagen-destacada{
            overflow: hidden;
            cursor: pointer;
            img{
                transition: .3s all ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}

.galeria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contenedor-img {
    .imagen-receta {
        overflow: hidden;
        margin-bottom: 20px;
        
        img{ 
            transition: all .3s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}