.footer {
    background-color: $negro;
    color: $gris;
    padding: 20px 0;

    .contenedor-footer {
        @media (min-width: 768px){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        display: block;
        text-align: center;
    }
}

.redes-sociales{
    a{
        i{
            color: $blanco;
            font-size: 22px;
            margin: 0 20px;
            padding: 20px 0;

            @media (min-width: 768px){
                padding-bottom: 0;
            }
        }
    }
}