.bg-negro{
    background-color: $negro;
}

.banner {
    background-image: url(../img/banner.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $blanco;
        
    }
}

.logo {
    display: inline-block;
    color: $blanco;
    font-size: 35px;
    padding: 10px 0;

    span {
        color: $amarillo;
        font-weight: bold;
    }

    &:hover {
        color: $blanco;
    }
}

.navegacion{
    i{
        color: $blanco;
        font-size: 35px;
    }

    .container-fluid{
        padding: 0;
    }
}

.nav-secciones{
    justify-content: flex-end;
    
    a{
        color: $blanco;
        margin-right: 20px;
        font-size: 18px;
        text-align: center;
        border-bottom: 1px solid rgba($gris, 0.1);
        @media (min-width: 768px) {
            border: none;
        }

        &:hover{
            color: $amarillo;
        }

        &:last-child{
            border: none;
        }
    }
}